html
    head
        title= title
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css")
    body
        .container
            header
                h1 Po Editor

            section.po1
                h2 Po A
                textarea#po1Raw
                .download
                    input#po1Filename(type="text" placeholder="po1" value="po1")
                    span .po
                    button#po1Download Download
               
            section.output
                .controls
                    button#union.set-btn
                        include union.svg
                    button#intersection.set-btn
                        include intersection.svg
                    button#symmetricDifference.set-btn
                        include symm-difference.svg
                    button#difference.set-btn
                        include difference.svg
                h2#output
                .outputList
                    .outputList__header
                            div msgid
                            div msgstr
                    #outputEditor
                
            section.po2
                h2 Po B
                textarea#po2Raw
                .download
                    input#po2Filename(type="text" placeholder="po2" value="po2")
                    span .po
                    button#po2Download Download