html
    head
        title= title
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css")
    body
        .container
            header
                h1 Po Editor
                p Something meaningful

            section.po1
                h2 Po A
                textarea#po1Raw
                .download
                    input#po1Filename(type="text" placeholder="po1" value="po1")
                    span .po
                    button#po1Download Download
               
            section.output
                .controls
                    button#union.set-btn Union
                    button#intersection.set-btn Intersection
                    button#symmetricDifference.set-btn Symmetric Difference
                    button#difference.set-btn Difference
                #output(contenteditable)
                
            section.po2
                h2 Po B
                textarea#po2Raw
                .download
                    input#po2Filename(type="text" placeholder="po2" value="po2")
                    span .po
                    button#po2Download Download